@model MssDevLab.Common.Models.ServiceData

<div style="border-width:1px;border-style:solid;border-color:black; margin: 2px 2px 2px 2px;">
    <div class="row">
        <div class="col">
            <a href="@Model.Url" target="_blank">
                <img src="@Model.ImageUrl" alt="@Model.Type" style="width:100px;height:100px;">
            </a>
        </div>
        <div class="col">
            <p>@Model.Title</p>
            <p><i>@Model.Type </i>@Model.Description</p>
        </div>
    </div>
</div>
